.contacts {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.contacts__place {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: #ffffff;

  &--bgcolor {
    background-color: @grey-bg;
  }
}

.contacts__title {
  display: flex;
  width: 125px;

  font-size: 16px;
  line-height: 1.25;
  font-family: @font-oswald-r;
  color: @heading-color;
  text-transform: uppercase;
  .zero-margin();
  margin-top: 30px;
  margin-left: 19px;
  margin-bottom: 24px;
}

.contacts__address {
  display: flex;
  width: 137px;

  font-size: @text-size;
  line-height: 1.43;
  font-family: @font-arial;
  color: @text-color;

  .font-normal();
  .zero-margin();
  margin-top: 31px;
  margin-right: 18px;
  margin-left: 19px;
}

.contacts__map-link {
  width: 100%;
  height: 362px;
}


@media (min-width: @tablet-width) {
  .contacts {
    width: 100%;
    margin: 0 auto;
  }

  .contacts__wrapper {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;

    &--bgcolor {
      background-color: @grey-bg;
    }
  }

  .contacts__place {
    width: @tablet-width;
    justify-content: space-between;
    margin: 0 auto;

    &--bgcolor {
      background-color: @grey-bg;
    }
  }

  .contacts__title {
    width: 155px;
    font-size: 20px;
    line-height: 1.25;
    margin-top: 65px;
    margin-left: 71px;
    margin-bottom: 62px;
  }

  .contacts__address {
    width: 155px;
    font-size: 16px;
    line-height: 1.25;
    text-align: right;

    margin-top: 63px;
    margin-right: 72px;
    margin-left: none;
  }

  .contacts__map {
    width: 100%;
    height: 400px;
  }

  .contacts__map-link {
    width: 100%;
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 100%;
  }

  .contacts__wrapper {
    width: @desktop-width;
  }

  .contacts__place {
    position: absolute;
    top: 95px;
    margin-left: 40px;
    width: 570px;
    justify-content: space-between;

    &--bgcolor {
      background-color: #ffffff;
    }
  }

  .contacts__title {
    width: 155px;
    font-size: 20px;
    line-height: 1.25;
    margin-top: 64px;
    margin-left: 76px;
    margin-bottom: 60px;
  }

  .contacts__address {
    width: 155px;
    text-align: left;
    margin-right: 90px;
  }
}
