.input {
  position: relative;
  display: flex;
  align-items: center;
  width: 175px;
  height: 45px;
  font-family: @font-oswald-r;
  line-height: 1.13;
  font-size: 16px;
  .zero-margin();
  padding-left: 16px;
  box-sizing: border-box;
  border: 1px solid rgba(205, 205, 205, 0.5);

  &:hover {
    border: 1px solid rgba(205, 205, 205, 1);
  }

  &:focus {
    border: 2px solid @text-color;
    outline: none;
    padding-left: 15px;
  }

  &:invalid {
    border: 2px solid #ff8282;
    outline: none;
    padding-left: 15px;
  }

  &:hover + .input__logo-mail,
  &:hover + .input__phone {
    path {
      fill: @label-color;
    }
  }

  &:focus + .input__logo-mail,
  &:focus + .input__phone {
    path {
      fill: @btn-bg;
    }
  }

  &:invalid + .input__logo-mail,
  &:invalid + .input__phone {
    path {
      fill: #ff8282;
    }
  }
}

.input__logo-mail {
  position: absolute;
  top: 15px;
  right: 35px;
  width: 18px;
  height: 14px;

  path {
    fill: @label-color;
  }
}

.input__phone {
  position: absolute;
  top: 12px;
  right: 32px;
  width: 21px;
  height: 21px;

  path {
    fill: @label-color;
  }
}

@media (min-width: @tablet-width) {
  .input {
    line-height: 1;
    font-size: 20px;
    padding-left: 20px;

    &:focus,
    &:invalid {
      padding-left: 19px;
    }
  }

  .input__logo-mail {
    top: 21px;
    right: 85px;
  }

  .input__phone {
    top: 17px;
    right: 83px;
  }
}

@media (min-width: @desktop-width) {
  .input {
    line-height: 1;
    font-size: 20px;
    padding-left: 20px;

    &:focus,
    &:invalid {
      padding-left: 19px;
    }
  }

  .input__logo-mail {
    top: 19px;
    right: 20px;
  }

  .input__phone {
    top: 16px;
    right: 19px;
  }
}
