.page-main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-main__promo {
  margin: 0 auto;
}

.page-main__plans,
.page-main__feature,
.page-main__case,
.page-main__contacts {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.page-main__products {
  width: 320px;
  margin: 0 auto;
}

.page-main__extra-wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/*for form.html*/

.page-main__quest-form {
  width: @mobile-width;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-main {
    width: 100%;
  }

  .page-main__plans {
    margin-top: 529px;
  }

  .page-main__products {
    width: @tablet-width;
    margin: 0 auto;
  }

  .page-main__extra-wrapper {
    width: @tablet-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  /*for form.html*/

  .page-main__quest-form {
    width: @tablet-width;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    width: 100%;
  }

  .page-main__plans {
    margin-top: 0;
  }

  .page-main__products {
    width: @desktop-width;
    margin: 0 auto;
  }

  .page-main__extra-wrapper {
    width: @desktop-width;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  .page-main__quest-form {
    width: @desktop-width;
    margin: 0 auto;
  }
}
