.page-footer {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 750px;
  &__title {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    font-family: "Oswald Regular", "Arial", sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }
}

.temp-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 320px;
  height: 236px;
}
