
.page-footer {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 750px;
  &__place {
    display: flex;
    justify-content: flex-start;
    .zero-margin();
    width: 100%;
    background-color: #ffffff;

  }
  &__title {
    display: flex;
    width: 127px;
    .zero-margin();
    font-size: 16px;
    line-height: 1.25;
    color: @heading-color;
    font-family: @font-oswald-r;
    text-transform: uppercase;
    .font-normal();
  }
  &__address {
    display: flex;
    color: @text-color;
    .font-normal();
    .zero-margin();
    font-size: @text-size;
    line-height: 1.43;
    font-family: @font-arial;
    width: 136px;
  }
  /*Insert MAP's style here*/

  &__footer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 320px;
    height: 236px;
    background-color: rgb(238, 212, 212);
  }
  &__logo-wrap {
    display: flex;
    width: 100%;
    height: 94px;
  }
  &__logo-link {
    display: block;
    .zero-margin();
    margin: 0 auto;
    margin-top: 39px;
    width: 128px;
    height: 24px;
    cursor: pointer;
  }
  &__logo {
    opacity: 1;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
  }
}
