.plans {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 320px;
  margin-top: 22px;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    list-style: none;

    .zero-margin();
  }

  &__item {
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

    .zero-margin();
  }

  &__card {
    margin-right: auto;
    margin-left: auto;
  }
}
