.plans-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 280px;

  background-color: @grey-bg;

  &__title {
    font-size: 24px;
    line-height: 1.54;
    color: @heading-color;
    text-transform: uppercase;

    .zero-margin();
  }

  &__discription {
    margin-right: 20px;
    margin-left: 20px;

    font-size: 14px;
    line-height: 1.29;
    font-family: @font-arial;
    color: @text-color;
  }

  &__link {
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 20px;

    font-size: 16px;
    color: @heading-color;

    background-color: transparent;

    &:hover {
      background-color: transparent;
    }

    &:active {
      color: rgba(17, 17, 17, 0.3);

      background-color: transparent;
    }
  }
}
