.promo {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  &__heading {
    color: #ffffff;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    width: 250px;
    .zero-margin();
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
    margin-bottom: 25px;
  }

  &__description {
    display: block;
    width: 200px;
    margin: 0 auto;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: @font-oswald-r;
    line-height: 1;
    text-align: center;
    margin-bottom: 28px;
  }

  &__img {
    display: block;
    margin: 0 auto;
  }

  &__btn {
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 1.29;
  }
}

@media (min-width: @tablet-width) {
  .promo {
    width: @tablet-width;
    background-image: none;
    margin: 0 auto;

    &__heading {
      color: @heading-color;
      font-size: 60px;
      width: 415px;
      text-align: left;
      margin-top: 41px;
      margin-bottom: 42px;
      margin-left: 117px;
    }

    &__description {
      width: 290px;
      color: @heading-color;
      font-size: 20px;
      text-align: left;
      margin-left: 118px;
      margin-bottom: 20px;
    }

    &__img {
      display: block;
      margin: 0 auto;
      width: 708px;
      height: 609px;
    }

    &__btn {
      margin-top: -582px;
      margin-left: 119px;
      margin-bottom: 0;
      width: 245px;
      height: 52px;
      font-size: 20px;
    }
  }
}

@media (min-width: @desktop-width) {
  .promo {
    width: @desktop-width;
    margin: 0 auto;
    position: relative;

    &__heading {
      margin-top: 93px;
      margin-bottom: 41px;
      margin-left: 120px;
    }

    &__description {
      width: 290px;
      color: @heading-color;
      font-size: 20px;
      text-align: left;
      margin-left: 120px;
      margin-bottom: 28px;
    }

    &__img {
      display: block;
      position: absolute;
      top: 13px;
      left: 490px;
      width: 552px;
      height: 500px;
    }

    &__btn {
      margin-top: 25px;
      margin-left: 120px;
      margin-bottom: 268px;
      width: 245px;
      height: 52px;
      font-size: 20px;
    }
  }
}
