.promo {
    width: 320px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;

    &__heading {
        color: #ffffff;
        font-size: 36px;
        line-height: 1;
        text-align: center;
        width: 250px;
        .zero-margin();
        margin-left: auto;
        margin-right: auto;
    }
}