.social {
  display: flex;
  min-width: 125px;
  width: 220px;
  flex-direction: row;
  list-style: none;
  .zero-margin();
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.social__item {
  margin-right: 33px;
}

.social__item:last-of-type {
  margin-right: 0;
}

.social__item:nth-child(4n) {
  margin-right: 0;
}

.social__link {
  display: block;

  &:hover + &--color {
    fill: #68b738;
  }

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--ig {
    width: 17px;
    height: 17px;
    padding: 0 2px;
  }

  &--fb {
    width: 10px;
    height: 19px;
    padding-left: 4px;
    padding-right: 6px;
  }

  &:hover,
  &:focus {
    opacity: 1;

    path,
    circle {
      fill: @btn-bg;
    }
  }

  &:active {
    opacity: 0.3;

    path,
    circle {
      fill: @btn-bg;
    }
  }
}

@media (min-width: @tablet-width) {
  .social {
    min-width: 125px;
    max-width: 300px;
    flex-wrap: wrap;
  }

  .social__item {
    margin-right: 20px;
  }

  .social__item:last-of-type {
    margin-right: 0;
  }

  .social__link {
    display: block;

    &--vk {
      width: 30px;
      height: 16px;
    }

    &--ig {
      width: 24px;
      height: 23px;
      padding-left: 3.5px;
      padding-right: 3.5px;
    }

    &--fb {
      width: 14px;
      height: 28px;
      padding-right: 16px;
    }
  }
}
