.font-normal() {                /*Nomalizing text styles*/
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

.zero-margin() {
    margin: 0;
    padding: 0;
    border: 0;
}