@font-oswald-r: "Oswald Regular", "Arial", sans-serif;
@font-oswald-m: "Oswald Medium", "Arial", sans-serif;
@font-arial: "Arial", sans-serif;

/*Colors*/
@heading-color: #111111;
@text-color: #444444;

/*Font-size*/
@text-size: 14px;